<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Coolection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/element.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="menu" class="center-left">
        <span>Coolection</span>
    </div>

    <div id="main">
        <div class="input center">
            <el-input
                placeholder="Add Link or Search"
                icon="search"
                v-model="input"
                :on-icon-click="handleIconClick">
            </el-input>
        </div>

        <transition name="mainbox-slide">
            <div id="mainbox" v-if="mainboxShow">
                <div id="results" v-if="resultBoxShow">
                    <span class="results-header">Search results for '{{input}}'...</span>
                    <div v-for="item in searchResults">
                        <a :href="item.url" target="_blank">
                            <el-card>
                            {{item.value}}
                            </el-card>
                        </a>
                    </div>
                </div>
                <div id="add" v-if="addBoxShow">
                    <span class="add-header">Add '{{input}}' into the database...</span>
                    <el-card>
                    {{addTitle}}
                    </el-card>
                </div>
            </div>
        </transition>
    </div>

    <script src="js/axios.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/element.min.js"></script>
    <script src="js/algoliasearch.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>