<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Coolection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="css/element.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="main">
        <div id="menu" class="center-left">
            <div class="logo center" :class="{ logoleft: input || scrolled }">
                <img src="img/sitelogo.png">
            </div>
            <div v-if="userpic" class="userpic">
                <img :src="userpic">
            </div>
        </div>
        <div class="input center" :class="{ top: input || scrolled }" v-if="authenticated">
            <el-input
                placeholder="Add Link or Search"
                icon="search"
                v-model="input"
                :on-icon-click="searchIconClick">
            </el-input>
        </div>

        <transition name="list-all-arrow">
            <div class="list-all-arrow" v-if="!input && !scrolled">
                <span>ALL LINKS</span>
                <i class="el-icon-arrow-down"></i>
            </div>
        </transition>

        <div id="mainbox" class="center" v-if="authenticated">
            <transition name="mainbox" mode="out-in">
                <div id="results" v-if="resultBoxShow">
                    <span class="results-header">
                        {{ resultsLabel }}
                    </span>
                    <span class="no-results-label" v-if="noResults">
                        NO LINKS FOUND
                    </span>
                    <transition-group name="search-item" tag="div">
                        <div v-for="item in searchResults" key="item">
                            <item
                                :title="item.title"
                                :url="item.url"
                                :id="item.id">
                            </item>
                        </div>
                    </transition-group>
                </div>
                <div id="add" v-if="addBoxShow">
                    <span class="add-header">
                        Add '{{input}}' into the database...
                    </span>
                    <el-card>
                        <span class="website-title">{{addTitle}}</span>
                        <el-button
                            v-if="addTitle !== 'Fetching website...' && addTitle !== 'Error fetching website'"
                            type="info submit-btn"
                            v-on:click="add"
                            :loading="addLoading">
                            Add
                        </el-button>
                        <div id="tags" v-if="tagsLabel !== ''">
                            <span class="tags-header-label">{{tagsLabel}}</span>
                            <el-tag
                                v-for="tag in tags"
                                :closable="true"
                                @close="removeTag(tag)">
                                {{tag}}
                            </el-tag>
                            <el-input
                                class="input-new-tag"
                                v-if="inputTagVisible"
                                v-model="inputTagValue"
                                size="mini"
                                @keyup.enter.native="handleInputTagConfirm"
                                @blur="handleInputTagConfirm"
                            >
                            </el-input>
                            <el-button
                                v-if="tagsLabel === 'TAGS' && !inputTagVisible"
                                class="button-new-tag"
                                size="small"
                                @click="showInputTag">
                                + Add Tag
                            </el-button>
                        </div>
                    </el-card>
                </div>
            </transition>
        </div>
    </div>

    <script src="js/axios.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/element.min.js"></script>
    <script src="js/algoliasearch.min.js"></script>
    <script src="https://cdn.auth0.com/js/lock/10.9.1/lock.min.js"></script>
    <script src="js/sweetalert.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>