<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Coolection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/element.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="main">
        <div id="menu" class="center-left">
            <span>Coolection</span>
            <div v-if="userpic" class="userpic">
                <img :src="userpic">
            </div>
        </div>
        <div class="input center" v-if="authenticated">
            <el-input
                placeholder="Add Link or Search"
                icon="search"
                v-model="input"
                :on-icon-click="handleIconClick">
            </el-input>
        </div>

        <transition name="mainbox-slide" v-if="authenticated">
            <div id="mainbox" v-if="mainboxShow">
                <div id="results" v-if="resultBoxShow">
                    <span class="results-header">
                        Search results for '{{input}}'...
                    </span>
                    <div v-for="item in searchResults">
                        <item
                            :title="item.title"
                            :url="item.url"
                            :id="item.id">
                        </item>
                    </div>
                </div>
                <div id="add" v-if="addBoxShow">
                    <span class="add-header">
                        Add '{{input}}' into the database...
                    </span>
                    <el-card>
                        <span class="website-title">{{addTitle}}</span>
                        <el-button
                            v-if="addTitle !== 'Fetching website...' && addTitle !== 'Error fetching website'"
                            type="info submit-btn"
                            v-on:click="add"
                            :loading="addLoading">
                            Add
                        </el-button>
                        <div id="tags" v-if="tagsLabel !== ''">
                            <span class="tags-header-label">{{tagsLabel}}</span>
                            <el-tag
                                v-for="tag in tags"
                                :closable="true"
                                @close="removeTag(tag)">
                                {{tag}}
                            </el-tag>
                            <el-input
                                class="input-new-tag"
                                v-if="inputTagVisible"
                                v-model="inputTagValue"
                                size="mini"
                                @keyup.enter.native="handleInputTagConfirm"
                                @blur="handleInputTagConfirm"
                            >
                            </el-input>
                            <el-button
                                v-if="tagsLabel === 'TAGS' && !inputTagVisible"
                                class="button-new-tag"
                                size="small"
                                @click="showInputTag">
                                + Add Tag
                            </el-button>
                        </div>
                    </el-card>
                </div>
            </div>
        </transition>
    </div>

    <script src="js/axios.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/element.min.js"></script>
    <script src="js/algoliasearch.min.js"></script>
    <script src="https://cdn.auth0.com/js/lock/10.9.1/lock.min.js"></script>
    <script src="js/sweetalert.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>